{% extends "base.html" %}
{% block content %}
<h1>Etusivu</h1>

<form>
    <div class="form-group">
        <label>Tee julkaisu</label>
        <textarea class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Julkaise</button>
</form>

<h3>Uusimmat julkaisut</h3>

<div class="posts-list">
    {% for julkaisu in julkaisut %}
    <div class="post">
        <div class="post-user">{{julkaisu.kayttaja.kayttajatunnus}}</div>
        <div class="post-timestamp">{{julkaisu.aika}}</div>
        <div class="post-content">{{julkaisu.teksti}}</div>
        <div class="post-info">{{julkaisu.tykkaykset|length}} tykkäystä</div>
        <div class="post-actions">
            {% if user_logged_in.id in julkaisu.tykkaykset|keys %}
            <a href="#">Älä tykkää</a>
            {% else %}
            <a href="#">Tykkää</a>
            {% endif %}
        </div>
        {% include 'suunnitelmat/mallikommentit.html' %}
    </div>
    {% endfor %}
</div>
{% endblock %}