{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<h1>{{ryhma.nimi}}</h1>

{% include 'messages.html' %}

<div id='group-description'>
    {{ryhma.kuvaus}}
</div>
<br/>
<div>
    Ryhmän ylläpitäjä: <a href="{{base_path}}/user/{{ryhma.yllapitaja.id}}">{{ryhma.yllapitaja.kayttajatunnus}}</a>
</div>
<br/>

{% if user_logged_in.id in ryhma.haeJasenet()|ids %}
<div id='group-actions'>
    <a href="{{base_path}}/group/{{ryhma.id}}/members" class="btn btn-primary">{{ryhma.haeJasenet()|length}} jäsentä</a>
    {% if ryhma.yllapitaja.id == user_logged_in.id %}
    <a href="{{base_path}}/group/{{ryhma.id}}/edit" class="btn btn-default">Muokkaa ryhmää</a>
    {% else %}
    <form style="display: inline;" action="{{base_path}}/group/{{ryhma.id}}/remove_member" method="post">
        <input type="hidden" name="user" value="{{user_logged_in.id}}"/>
        <button type="submit" class="btn btn-warning">Poistu ryhmästä</button>
    </form>
    {% endif %}
</div>

{% set liittymispyynnot = ryhma.haeLiittymispyynnot() %}
{% if ryhma.yllapitaja.id == user_logged_in.id and liittymispyynnot|length > 0 %}
<h3>Liittymispyynnöt</h3>

<ul class="list-unstyled group-invitations-list">
    {% for pyynto in liittymispyynnot %}
    <li>
        <div>
            <b>{{pyynto.kayttaja.kayttajatunnus}}</b>
            <br/>
            {{pyynto.viesti}}
            <br/>
            <form style="display: inline;" action="{{base_path}}/group/{{ryhma.id}}/accept_request" method="post">
                <input type="hidden" name="user" value="{{pyynto.kayttaja.id}}" />
                <input type="submit" class="btn btn-primary" value="Hyväksy" />
            </form>
            <form style="display: inline;" action="{{base_path}}/group/{{ryhma.id}}/decline_request" method="post">
                <input type="hidden" name="user" value="{{pyynto.kayttaja.id}}" />
                <input type="submit" class="btn btn-danger" value="Hyĺkää" />
            </form>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

<form action="{{base_path}}/group/{{ryhma.id}}/post" method="post">
    <div class="form-group">
        <label>Tee julkaisu</label>
        <textarea name="teksti" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Julkaise</button>
</form>

<h3>Uusimmat julkaisut</h3>

{{ macros.post_list(_context, ryhma.haeJulkaisut(), '/group/' ~ ryhma.id) }}

{% else %}
<h3>Et kuulu tähän ryhmään</h3>
    {% if ryhma.suljettu %}
        <form style="display: inline;" action="{{base_path}}/group/{{ryhma.id}}/request_join" method="post">
        <p>Ryhmä on suljettu. Kirjoita viesti ja pyydä liittyä ryhmään.</p>
        {% if liittymispyynto %}
        <p><b>Olet jo pyytänyt liittyä tähän ryhmään, voit päivittää viestiäsi tai perua liittymispyynnön</b></p>
        {% endif %}
        Viesti: <textarea name="message" rows="8" cols="40">{{liittymispyynto.viesti}}</textarea><br/>
        {% if liittymispyynto %}
            <input type="submit" class="btn btn-primary" value="Päivitä liittymispyyntö"/>
        {% else %}
            <input type="submit" class="btn btn-primary" value="Pyydä liittyä"/>
        {% endif %}
        </form>
        {% if liittymispyynto %}
        <form style="display: inline;" action="{{base_path}}/group/{{ryhma.id}}/cancel_request_join" method="post">
            <input type="submit" class="btn btn-danger" value="Peru liittymispyyntö"/>
        </form>
        {% endif %}

    {% else %}
        <form action="{{base_path}}/group/{{ryhma.id}}/join" method="post">
            <p>Ryhmä on avoin, voit liittyä ryhmään.</p>
            <input type="submit" class="btn btn-primary" value="Liity"/>
        </form>

    {% endif %}
{% endif %}
{% endblock %}