{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<h1>{{ryhma.nimi}}</h1>

{% include 'messages.html' %}

<div id='group-description'>
    {{ryhma.kuvaus}}
</div>
<br/>
<div>
    Ryhmän ylläpitäjä: <a href="{{base_path}}/user/{{ryhma.yllapitaja.id}}">{{ryhma.yllapitaja.kayttajatunnus}}</a>
</div>
<br/>

{% if user_logged_in.id in ryhma.haeJasenet()|ids %}
<div id='group-actions'>
    <a href="{{base_path}}/group/{{ryhma.id}}/members" class="btn btn-primary">{{ryhma.haeJasenet()|length}} jäsentä</a>
    {% if ryhma.yllapitaja.id == user_logged_in.id %}
    <a href="{{base_path}}/group/{{ryhma.id}}/edit" class="btn btn-default">Muokkaa ryhmää</a>
    {% else %}
    <form style="display: inline;" action="{{base_path}}/group/{{ryhma.id}}/remove_member" method="post">
        <input type="hidden" name="user" value="{{user_logged_in.id}}"/>
        <button type="submit" class="btn btn-warning">Poistu ryhmästä</button>
    </form>
    {% endif %}
</div>

{% if ryhma.yllapitaja.id == user_logged_in.id %}
<h3>Liittymispyynnöt</h3>

<ul class="list-unstyled group-invitations-list">
    <li>
        <div>
            <b>Matti</b>
            <br/>
            Saanko liittyä?
            <br/>
            <button class="btn btn-primary">Hyväksy</button>
            <button class="btn btn-danger">Hylkää</button>
        </div>
    </li>
    <li>
        <div>
            <b>Pekka</b>
            <br/>
            Olis kiva kuulua tähän ryhmään
            <br/>
            <button class="btn btn-primary">Liity</button>
            <button class="btn btn-danger">Hylkää</button>
        </div>
    </li>
</ul>
{% endif %}

<h3>Uusimmat julkaisut</h3>

{{ macros.post_list(_context, ryhma.haeJulkaisut(), '/group/' ~ ryhma.id) }}

{% else %}
<h3>Et kuulu tähän ryhmään</h3>
{% if ryhma.suljettu %}
<form action="{{base_path}}/group/{{ryhma.id}}/request_join" method="post">
    <p>Ryhmä on suljettu. Kirjoita viesti ja pyydä liittyä ryhmään.</p>
    Viesti: <textarea rows="8" cols="40"></textarea><br/>
    <input type="submit" class="btn btn-primary" value="Pyydä liittyä"/>
</form>
{% else %}
<form action="{{base_path}}/group/{{ryhma.id}}/join" method="post">
    <p>Ryhmä on avoin, voit liittyä ryhmään.</p>
    <input type="submit" class="btn btn-primary" value="Liity"/>
</form>

{% endif %}
{% endif %}
{% endblock %}