{% extends "base.html" %}
{% block content %}
<h1>Muokkaa käyttäjää</h1>

{% include 'messages.html' %}

<form method="post">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="kayttajatunnus" type="text" class="form-control" value="{{user.kayttajatunnus}}">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input name="salasana1" type="password" class="form-control">
    </div>

    <div class="form-group">
        <label>Vahvista salasana</label>
        <input name="salasana2" type="password" class="form-control">
    </div>

    {% if user_logged_in.yllapitaja %}
    <div class="form-group">
        <label>On ylläpitäjä</label>
        <input name="yllapitaja" type="checkbox" class="form-control"{% if user.yllapitaja %} checked{% endif %}>
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Tallenna</button>

    <a href="{{base_path}}/user/{{user.id}}/delete" class="btn btn-danger">Poista käyttäjä</a>
</form>
{% endblock %}