{% extends "base2.html" %}
{% block content %}
<h1>Muokkaa käyttäjää</h1>

<form>
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control" value="{{user.kayttajatunnus}}">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control">
    </div>

    <div class="form-group">
        <label>Vahvista salasana</label>
        <input type="password" class="form-control">
    </div>

    <div class="form-group">
        <label>On ylläpitäjä</label>
        <input type="checkbox" class="form-control"{% if user.yllapitaja %} checked{% endif %}>
    </div>

    <button type="submit" class="btn btn-primary">Tallenna</button>

    <a href="{{base_path}}/user/{{user.id}}/delete" class="btn btn-danger">Poista käyttäjä</a>
</form>
{% endblock %}