{% extends "base2.html" %}
{% block content %}
<h1>Käyttäjät</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Käyttäjätunnus</td>
            <td>On ylläpitäjä</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{base_path}}/user/{{user.id}}">{{user.kayttajatunnus}}</a></td>
            <td>{{user.yllapitaja}}</td>
            <td><a href="{{base_path}}/user/{{user.id}}/edit" class="btn btn-sm btn-primary">Muokkaa</a> <a href="{{base_path}}/user/{{user.id}}/delete" class="btn btn-sm btn-danger">Poista</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}