{% extends "base.html" %}
{% block content %}
  <h1>Rekisteröidy</h1>
  
  {% include 'messages.html' %}

  <form action="{{base_path}}/register" method="post">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input name="kayttajatunnus" type="text" class="form-control"{% if kayttajatunnus %} value="{{kayttajatunnus}}"{% endif %}>
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input name="salasana1" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Vahvista salasana</label>
      <input name="salasana2" type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
  </form>
  
  <div>
      Onko sinulla jo tunnus? <a href="{{base_path}}/login">Kirjaudu sisään!</a>
  </div>
{% endblock %}