{% extends "base2.html" %}
{% block content %}
<h1>Muokkaa käyttäjätunnusta</h1>

<form>
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control" value="Käyttäjätunnus">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control">
    </div>

    <div class="form-group">
        <label>Vahvista salasana</label>
        <input type="password" class="form-control">
    </div>

    <div class="form-group">
        <label>On ylläpitäjä</label>
        <input type="checkbox" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Tallenna</button>

    <button class="btn btn-danger">Poista käyttäjä</button>
</form>
{% endblock %}