{% extends "base2.html" %}
{% block content %}
<h1>Lorem ipsum ryhmä</h1>

<h3>Käyttäjät</h3>

<ul class="list-unstyled">
    <li>Käyttäjä 1 <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 2 <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 3 <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 4 <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 5 <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 6 <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 7 <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 8 <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 9 <button class="btn btn-sm btn-danger">Poista</button></li>
</ul>

{% endblock %}