{% extends "base2.html" %}
{% block content %}
<h1>Ryhmät</h1>

<ul class="list-unstyled">
    <li>Ryhmä 1 (julkinen) <button class="btn btn-sm btn-primary">Liity</button><button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Ryhmä 2 (julkinen) <button class="btn btn-sm btn-primary">Liity</button><button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Ryhmä 3 (julkinen) <button class="btn btn-sm btn-primary">Liity</button><button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Ryhmä 4 (suljettu) <button class="btn btn-sm btn-primary">Pyydä liittyä</button><button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Ryhmä 5 (julkinen) <button class="btn btn-sm btn-primary">Liity</button><button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Ryhmä 6 (julkinen) <button class="btn btn-sm btn-primary">Liity</button><button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Ryhmä 7 (suljettu) <button class="btn btn-sm btn-primary">Pyydä liittyä</button><button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Ryhmä 8 (julkinen) <button class="btn btn-sm btn-primary">Liity</button><button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Ryhmä 9 (julkinen) <button class="btn btn-sm btn-primary">Liity</button><button class="btn btn-sm btn-danger">Poista</button></li>
</ul>

{% endblock %}