{% extends "base2.html" %}
{% block content %}
<h1>Käyttäjät</h1>

<ul class="list-unstyled padded-list">
    <li>Käyttäjä 1 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 2 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 3 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 4 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 5 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 6 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 7 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 8 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
    <li>Käyttäjä 9 <button class="btn btn-sm btn-primary">Muokkaa</button> <button class="btn btn-sm btn-danger">Poista</button></li>
</ul>

{% endblock %}