<div class="posts-list">
    <div class="post">
        <div class="post-user">Pekka</div>
        <div class="post-timestamp">8.3.2017 klo 8:07</div>
        <div class="post-content">Hyvää huomenta kaikille!</div>
        <div class="post-info">8 tykkäystä</div>
        <div class="post-actions">
            <a href="#">Tykkää</a>
        </div>
        {% include 'suunnitelmat/mallikommentit.html' %}
    </div>

    <div class="post">
        <div class="post-user">Teppo</div>
        <div class="post-timestamp">2.3.2017 klo 8:07</div>
        <div class="post-content">Terve vaan</div>
        <div class="post-info">11 tykkäystä</div>
        <div class="post-actions">
            <a href="#">Älä tykkää</a>
        </div>
        {% include 'suunnitelmat/mallikommentit.html' %}
    </div>
</div>