<div class="post-comments">
    <div class="comment">
        <div class="comment-user">Joku käyttäjä</div>
        <div class="comment-timestamp">8.3.2017 klo 8:07</div>
        <div class="comment-content">Testikommentti</div>
    </div>
    <div class="comment">
        <div class="comment-user">Toinen käyttäjä</div>
        <div class="comment-timestamp">21.3.2017 klo 21:07</div>
        <div class="comment-content">Kiva juttu</div>
    </div>
    <div class="comment-form" style="width: 100%;">
        <form class="form-inline">
            <label style="float: left;">Kommentoi: </label>
            <button type="submit" class="btn btn-sm btn-primary" style="float: right;">Julkaise</button>
            <div style="overflow: hidden; padding-left: 0.4em; padding-right: 0.4em;">
                <input style="width: 100%;" type="text" class="form-control" />
            </div>
        </form>
    </div>
</div>