{% extends "base.html" %}
{% block beforecontent %}
<div id="left-panel">
    Hei, {{user_logged_in.kayttajatunnus}}!<br>
    <h4>Ryhmät</h4>
    <ul class="list-unstyled" style="margin-left: 0.5em;">
        <li><a href="#">Ryhmä 1</a></li>
        <li><a href="#">Ryhmä 2</a></li>
        <li><a href="#">Ryhmä 3</a></li>
    </ul>
    <button class="btn btn-sm btn-primary">Etsi ryhmiä</button>
    <button class="btn btn-sm btn-default">Luo uusi ryhmä</button>
    <h4>Ryhmäkutsut</h4>
    <ul class="list-unstyled group-invitations-list">
        <li>
            <div>
                <b>Ryhmä 4</b>
                <br/>
                Haluatko liittyä?
                <br/>
                <button class="btn btn-sm btn-primary">Liity</button>
                <button class="btn btn-sm btn-default">Hylkää</button>
            </div>
        </li>
        <li>
            <div>
                <b>Ryhmä 5</b>
                <br/>
                Tervetuloa tähän ryhmään
                <br/>
                <button class="btn btn-sm btn-primary">Liity</button>
                <button class="btn btn-sm btn-default">Hylkää</button>
            </div>
        </li>
    </ul>
</div>
{% endblock %}