<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Tietokantasovellus
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="{{base_path}}">Some-sovellus</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a href="{{base_path}}">Etusivu</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% if user_logged_in %}
        <div id="left-panel">
            Hei, {{user_logged_in.kayttajatunnus}}!<br>
            <a href="{{base_path}}/user/{{user_logged_in.id}}/edit" class="btn btn-sm btn-default">Muokkaa profiilia</a><form style="display:inline;" action="{{base_path}}/logout" method="post"><button type="submit" class="btn btn-sm btn-default">Kirjaudu ulos</button></form><br>
            
            {% set ryhmat = user_logged_in.haeRyhmat() %}
            <h4>Ryhmät</h4>
            
            {% if ryhmat|length > 0 %}
            Olet jäsenenä seuraavissa ryhmissä:
            <ul class="list-unstyled" style="margin-left: 0.5em;">
            {% for ryhma in ryhmat %}
                <li><a href="{{base_path}}/group/{{ryhma.id}}">{{ryhma.nimi}}{% if ryhma.yllapitaja.id == user_logged_in.id %} *{% endif %}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            <a href="{{base_path}}/group" class="btn btn-sm btn-primary">Etsi ryhmiä</a>
            <a href="{{base_path}}/create_group" class="btn btn-sm btn-default">Luo uusi ryhmä</a>
            {% set kutsut = user_logged_in.haeKutsut() %}
            {% if kutsut|length > 0 %}
            <h4>Ryhmäkutsut</h4>
            <ul class="list-unstyled group-invitations-list">
                {% for kutsu in kutsut %}
                <li>
                    <div>
                        <b>{{kutsu.ryhma.nimi}}</b>
                        <br/>
                        {{kutsu.viesti}}
                        <br/>
                        <form style='display: inline;' method='post' action='{{base_path}}/group/{{kutsu.ryhma.id}}/accept_invitation'>
                            <button type="submit" class="btn btn-sm btn-primary">Liity</button>
                        </form>
                        <form style='display: inline;' method='post' action='{{base_path}}/group/{{kutsu.ryhma.id}}/decline_invitation'>
                            <button type="submit" class="btn btn-sm btn-default">Hylkää</button>
                        </form>
                    </div>
                </li>
                <li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
            
        <div id="main-container" style="margin-left: 20%">
            <!-- Dynaaminen sisältö tulee tähän -->
            {% block content %}{% endblock %}
        </div>

        {% block body %}
        <!-- jQuery -->
        <script src="{{base_path}}/vendor/jquery.min.js"></script>

        <!-- Bootstrap (skriptitiedosto) -->
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Oma skriptitiedostomme -->
        <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}
    </body>
</html>
