{% macro user_link(base_path, user) %}<a href="{{base_path}}/user/{{user.id}}">{{user.kayttajatunnus}}</a>{% endmacro %}

{% macro post_list(base_path, posts, return_path) %}
{% import _self as macros %}
<div class="posts-list">
    {% for julkaisu in posts %}
    <div class="post">
        <div class="post-user">{{ macros.user_link(base_path, julkaisu.kayttaja) }}</div>
        <div class="post-timestamp">{{julkaisu.aika}}</div>
        <div class="post-content">{{julkaisu.teksti}}</div>
        <div class="post-info">{{julkaisu.tykkaykset|length}} tykkäystä</div>
        <div class="post-actions">
            {% if user_logged_in.id in julkaisu.tykkaykset|keys %}
            <a href="#">Älä tykkää</a>
            {% else %}
            <a href="#">Tykkää</a>
            {% endif %}
        </div>
        <div class="post-comments">
            {% for kommentti in julkaisu.haeKommentit() %}
            <div class="comment">
                <div class="comment-user">{{macros.user_link(base_path, kommentti.kayttaja)}}</div>
                <div class="comment-timestamp">{{kommentti.aika}}</div>
                <div class="comment-content">{{kommentti.teksti}}</div>
            </div>
            {% endfor %}
            <div class="comment-form" style="width: 100%;">
                <form action="{{base_path}}/post/{{julkaisu.id}}/comments" method="post" class="form-inline">
                    <input name="return_path" type="hidden" value="{{return_path|default('/')}}" />
                    <label style="float: left;">Kommentoi: </label>
                    <button type="submit" class="btn btn-sm btn-primary" style="float: right;">Julkaise</button>
                    <div style="overflow: hidden; padding-left: 0.4em; padding-right: 0.4em;">
                        <input name="teksti" style="width: 100%;" type="text" class="form-control" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}